html {
	height: 95%;
}

body {
	background-image: url(../images/bg.png);
	background-repeat: repeat;
	display: block;
    height: 95%;
}

a {
	color: #A8D1DD;
}

.container {

	@include mobile-only {
		width: 95%;
		background-color: rgba(163,163,163,.5);
		margin: auto;
		min-height: 95%;
		padding: 0 1em;
		margin-top: 10px;
	}

	@include tablet-portrait-and-up {
		width: 100%;
		background-color: rgba(163,163,163,.5);
		margin: auto;
		margin-top: 1em;
		min-height: 95%;
		display: block;
		padding: 1em 10em 0;
		position: relative;
	}
}
