@import "compass/typography/lists/horizontal-list";

@mixin icon-social($name) {
	background-image: url('../images/icons/'+$name+'.png');
	background-repeat: no-repeat;
	background-position: center 10px;
	@include background-size( 60% auto);

	text-indent: -1000px;

	@include mobile-only {
		background-position: 15px center;
		@include background-size( auto 90%);

		//text-indent: 0px;
	}
}

.icon-twitter {
	@include icon-social("twitter");
}
.icon-facebook {
	@include icon-social("facebook");
}
.icon-github {
	@include icon-social("github");
}
.icon-8tracks {
	@include icon-social("8tracks");
}
.icon-lastfm {
	@include icon-social("lastfm");
}
.icon-googleplus {
	@include icon-social("googleplus");
}
.icon-linkedin {
	@include icon-social("linkedin");
}
.icon-youtube {
	@include icon-social("youtube");
}
.icon-email {
	@include icon-social("email");
}
.icon-qr {
	@include icon-social("qr");
}

.home {
	.social {
		a { color: #000 }

		@include tablet-portrait-and-up {
			position: absolute;
			bottom: 0;
		}

		@include horizontal-list-container;
		@include grid-row();
		li {
			$total-columns: 9;
			@include grid-column(1);

			padding: 0px;
			@include horizontal-list-item;
			min-height: 120px;

			@include mobile-only {
				@include grid-column(3);
				min-height: 50px;
				text-align: center;
				padding-top: 50px;	
			}
		}
		$total-columns: 12;
	}
}

.doge {
	.switch {
		$switch-positive-color: scale-color($success-color, $lightness: 50%);
		width: 100px;
	}	
}


#reveal-contact {
	textarea {
		height: 10em;
	}

	#msg {
		float: right;
    	position: relative;
    	padding: 20px 10px;
    	color: #0079A1;
		
		@include mobile-only {
    		width: 100%;
			text-align: center;
		}
	}

	@include mobile-only {
		.button { width: 100% }
	}
}


#qrcode {
	display: block;
	margin: 0 auto;
}