/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.7
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
/* Default styles for the demo buttons */
/* line 22, ../scss/hover.scss */
.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 2D TRANSITIONS */
/* Grow */
/* line 29, ../scss/hover.scss */
.grow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_grow.scss */
.grow:hover {
  transform: scale(1.1);
}

/* Shrink */
/* line 34, ../scss/hover.scss */
.shrink {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_shrink.scss */
.shrink:hover {
  transform: scale(0.9);
}

/* Pulse */
@keyframes pulse {
  /* line 3, ../scss/effects/_pulse.scss */
  25% {
    transform: scale(1.1);
  }

  /* line 7, ../scss/effects/_pulse.scss */
  75% {
    transform: scale(0.9);
  }
}

/* line 39, ../scss/hover.scss */
.pulse {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 17, ../scss/effects/_pulse.scss */
.pulse:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Pulse Grow */
@keyframes pulse-grow {
  /* line 3, ../scss/effects/_pulse-grow.scss */
  to {
    transform: scale(1.1);
  }
}

/* line 44, ../scss/hover.scss */
.pulse-grow {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 13, ../scss/effects/_pulse-grow.scss */
.pulse-grow:hover {
  animation-name: pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Pulse Shrink */
@keyframes pulse-shrink {
  /* line 3, ../scss/effects/_pulse-shrink.scss */
  to {
    transform: scale(0.9);
  }
}

/* line 49, ../scss/hover.scss */
.pulse-shrink {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 13, ../scss/effects/_pulse-shrink.scss */
.pulse-shrink:hover {
  animation-name: pulse-shrink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Push */
@keyframes push {
  /* line 3, ../scss/effects/_push.scss */
  50% {
    transform: scale(0.8);
  }

  /* line 7, ../scss/effects/_push.scss */
  100% {
    transform: scale(1);
  }
}

/* line 54, ../scss/hover.scss */
.push {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 17, ../scss/effects/_push.scss */
.push:hover {
  animation-name: push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* Pop */
@keyframes pop {
  /* line 3, ../scss/effects/_pop.scss */
  50% {
    transform: scale(1.2);
  }

  /* line 7, ../scss/effects/_pop.scss */
  100% {
    transform: scale(1);
  }
}

/* line 59, ../scss/hover.scss */
.pop {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 17, ../scss/effects/_pop.scss */
.pop:hover {
  animation-name: pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* Rotate */
/* line 64, ../scss/hover.scss */
.rotate {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_rotate.scss */
.rotate:hover {
  transform: rotate(15deg);
}

/* Grow Rotate */
/* line 69, ../scss/hover.scss */
.grow-rotate {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_grow-rotate.scss */
.grow-rotate:hover {
  transform: scale(1.1) rotate(4deg);
}

/* Float */
/* line 74, ../scss/hover.scss */
.float {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_float.scss */
.float:hover {
  transform: translateY(-5px);
}

/* Sink */
/* line 79, ../scss/hover.scss */
.sink {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_sink.scss */
.sink:hover {
  transform: translateY(5px);
}

/* Hover */
@keyframes hover {
  /* line 3, ../scss/effects/_hover.scss */
  50% {
    transform: translateY(-3px);
  }

  /* line 7, ../scss/effects/_hover.scss */
  100% {
    transform: translateY(-6px);
  }
}

/* line 84, ../scss/hover.scss */
.hover {
  display: inline-block;
  transition-duration: .5s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 19, ../scss/effects/_hover.scss */
.hover:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Hang */
@keyframes hang {
  /* line 3, ../scss/effects/_hang.scss */
  50% {
    transform: translateY(3px);
  }

  /* line 7, ../scss/effects/_hang.scss */
  100% {
    transform: translateY(6px);
  }
}

/* line 89, ../scss/hover.scss */
.hang {
  display: inline-block;
  transition-duration: .5s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 19, ../scss/effects/_hang.scss */
.hang:hover {
  transform: translateY(6px);
  animation-name: hang;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Skew */
/* line 94, ../scss/hover.scss */
.skew {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_skew.scss */
.skew:hover {
  transform: skew(-10deg);
}

/* Skew Forward */
/* line 99, ../scss/hover.scss */
.skew-forward {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-origin: 0 100%;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_skew-forward.scss */
.skew-forward:hover {
  transform: skew(-10deg);
}

/* Skew Backward */
/* line 104, ../scss/hover.scss */
.skew-backward {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform-origin: 0 100%;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_skew-backward.scss */
.skew-backward:hover {
  transform: skew(10deg);
}

/* Wobble Vertical */
@keyframes wobble-vertical {
  /* line 3, ../scss/effects/_wobble-vertical.scss */
  16.65% {
    transform: translateY(8px);
  }

  /* line 7, ../scss/effects/_wobble-vertical.scss */
  33.3% {
    transform: translateY(-6px);
  }

  /* line 11, ../scss/effects/_wobble-vertical.scss */
  49.95% {
    transform: translateY(4px);
  }

  /* line 15, ../scss/effects/_wobble-vertical.scss */
  66.6% {
    transform: translateY(-2px);
  }

  /* line 19, ../scss/effects/_wobble-vertical.scss */
  83.25% {
    transform: translateY(1px);
  }

  /* line 23, ../scss/effects/_wobble-vertical.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 109, ../scss/hover.scss */
.wobble-vertical {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../scss/effects/_wobble-vertical.scss */
.wobble-vertical:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble Horizontal */
@keyframes wobble-horizontal {
  /* line 3, ../scss/effects/_wobble-horizontal.scss */
  16.65% {
    transform: translateX(8px);
  }

  /* line 7, ../scss/effects/_wobble-horizontal.scss */
  33.3% {
    transform: translateX(-6px);
  }

  /* line 11, ../scss/effects/_wobble-horizontal.scss */
  49.95% {
    transform: translateX(4px);
  }

  /* line 15, ../scss/effects/_wobble-horizontal.scss */
  66.6% {
    transform: translateX(-2px);
  }

  /* line 19, ../scss/effects/_wobble-horizontal.scss */
  83.25% {
    transform: translateX(1px);
  }

  /* line 23, ../scss/effects/_wobble-horizontal.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 114, ../scss/hover.scss */
.wobble-horizontal {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../scss/effects/_wobble-horizontal.scss */
.wobble-horizontal:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble To Bottom Right */
@keyframes wobble-to-bottom-right {
  /* line 3, ../scss/effects/_wobble-to-bottom-right.scss */
  16.65% {
    transform: translate(8px, 8px);
  }

  /* line 7, ../scss/effects/_wobble-to-bottom-right.scss */
  33.3% {
    transform: translate(-6px, -6px);
  }

  /* line 11, ../scss/effects/_wobble-to-bottom-right.scss */
  49.95% {
    transform: translate(4px, 4px);
  }

  /* line 15, ../scss/effects/_wobble-to-bottom-right.scss */
  66.6% {
    transform: translate(-2px, -2px);
  }

  /* line 19, ../scss/effects/_wobble-to-bottom-right.scss */
  83.25% {
    transform: translate(1px, 1px);
  }

  /* line 23, ../scss/effects/_wobble-to-bottom-right.scss */
  100% {
    transform: translate(0, 0);
  }
}

/* line 119, ../scss/hover.scss */
.wobble-to-bottom-right {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../scss/effects/_wobble-to-bottom-right.scss */
.wobble-to-bottom-right:hover {
  animation-name: wobble-to-bottom-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble To Top Right */
@keyframes wobble-to-top-right {
  /* line 3, ../scss/effects/_wobble-to-top-right.scss */
  16.65% {
    transform: translate(8px, -8px);
  }

  /* line 7, ../scss/effects/_wobble-to-top-right.scss */
  33.3% {
    transform: translate(-6px, 6px);
  }

  /* line 11, ../scss/effects/_wobble-to-top-right.scss */
  49.95% {
    transform: translate(4px, -4px);
  }

  /* line 15, ../scss/effects/_wobble-to-top-right.scss */
  66.6% {
    transform: translate(-2px, 2px);
  }

  /* line 19, ../scss/effects/_wobble-to-top-right.scss */
  83.25% {
    transform: translate(1px, -1px);
  }

  /* line 23, ../scss/effects/_wobble-to-top-right.scss */
  100% {
    transform: translate(0, 0);
  }
}

/* line 124, ../scss/hover.scss */
.wobble-to-top-right {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../scss/effects/_wobble-to-top-right.scss */
.wobble-to-top-right:hover {
  animation-name: wobble-to-top-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble Top */
@keyframes wobble-top {
  /* line 3, ../scss/effects/_wobble-top.scss */
  16.65% {
    transform: skew(-12deg);
  }

  /* line 7, ../scss/effects/_wobble-top.scss */
  33.3% {
    transform: skew(10deg);
  }

  /* line 11, ../scss/effects/_wobble-top.scss */
  49.95% {
    transform: skew(-6deg);
  }

  /* line 15, ../scss/effects/_wobble-top.scss */
  66.6% {
    transform: skew(4deg);
  }

  /* line 19, ../scss/effects/_wobble-top.scss */
  83.25% {
    transform: skew(-2deg);
  }

  /* line 23, ../scss/effects/_wobble-top.scss */
  100% {
    transform: skew(0);
  }
}

/* line 129, ../scss/hover.scss */
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 34, ../scss/effects/_wobble-top.scss */
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble Bottom */
@keyframes wobble-bottom {
  /* line 3, ../scss/effects/_wobble-bottom.scss */
  16.65% {
    transform: skew(-12deg);
  }

  /* line 7, ../scss/effects/_wobble-bottom.scss */
  33.3% {
    transform: skew(10deg);
  }

  /* line 11, ../scss/effects/_wobble-bottom.scss */
  49.95% {
    transform: skew(-6deg);
  }

  /* line 15, ../scss/effects/_wobble-bottom.scss */
  66.6% {
    transform: skew(4deg);
  }

  /* line 19, ../scss/effects/_wobble-bottom.scss */
  83.25% {
    transform: skew(-2deg);
  }

  /* line 23, ../scss/effects/_wobble-bottom.scss */
  100% {
    transform: skew(0);
  }
}

/* line 134, ../scss/hover.scss */
.wobble-bottom {
  display: inline-block;
  transform-origin: 100% 0;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 34, ../scss/effects/_wobble-bottom.scss */
.wobble-bottom:hover {
  animation-name: wobble-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Wobble Skew */
@keyframes wobble-skew {
  /* line 3, ../scss/effects/_wobble-skew.scss */
  16.65% {
    transform: skew(-12deg);
  }

  /* line 7, ../scss/effects/_wobble-skew.scss */
  33.3% {
    transform: skew(10deg);
  }

  /* line 11, ../scss/effects/_wobble-skew.scss */
  49.95% {
    transform: skew(-6deg);
  }

  /* line 15, ../scss/effects/_wobble-skew.scss */
  66.6% {
    transform: skew(4deg);
  }

  /* line 19, ../scss/effects/_wobble-skew.scss */
  83.25% {
    transform: skew(-2deg);
  }

  /* line 23, ../scss/effects/_wobble-skew.scss */
  100% {
    transform: skew(0);
  }
}

/* line 139, ../scss/hover.scss */
.wobble-skew {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../scss/effects/_wobble-skew.scss */
.wobble-skew:hover {
  animation-name: wobble-skew;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Buzz */
@keyframes buzz {
  /* line 3, ../scss/effects/_buzz.scss */
  50% {
    transform: translateX(3px) rotate(2deg);
  }

  /* line 7, ../scss/effects/_buzz.scss */
  100% {
    transform: translateX(-3px) rotate(-2deg);
  }
}

/* line 144, ../scss/hover.scss */
.buzz {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 17, ../scss/effects/_buzz.scss */
.buzz:hover {
  animation-name: buzz;
  animation-duration: .15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Buzz Out */
@keyframes buzz-out {
  /* line 3, ../scss/effects/_buzz-out.scss */
  10% {
    transform: translateX(3px) rotate(2deg);
  }

  /* line 7, ../scss/effects/_buzz-out.scss */
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 11, ../scss/effects/_buzz-out.scss */
  30% {
    transform: translateX(3px) rotate(2deg);
  }

  /* line 15, ../scss/effects/_buzz-out.scss */
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 19, ../scss/effects/_buzz-out.scss */
  50% {
    transform: translateX(2px) rotate(1deg);
  }

  /* line 23, ../scss/effects/_buzz-out.scss */
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 27, ../scss/effects/_buzz-out.scss */
  70% {
    transform: translateX(2px) rotate(1deg);
  }

  /* line 31, ../scss/effects/_buzz-out.scss */
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 35, ../scss/effects/_buzz-out.scss */
  90% {
    transform: translateX(1px) rotate(0);
  }

  /* line 39, ../scss/effects/_buzz-out.scss */
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

/* line 149, ../scss/hover.scss */
.buzz-out {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 49, ../scss/effects/_buzz-out.scss */
.buzz-out:hover {
  animation-name: buzz-out;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* BORDER TRANSITIONS */
/* Border Fade */
/* line 156, ../scss/hover.scss */
.border-fade {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
/* line 14, ../scss/effects/_border-fade.scss */
.border-fade:hover {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Hollow */
/* line 161, ../scss/hover.scss */
.hollow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: background;
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
/* line 14, ../scss/effects/_hollow.scss */
.hollow:hover {
  background: none;
}

/* Trim */
/* line 166, ../scss/hover.scss */
.trim {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 11, ../scss/effects/_trim.scss */
.trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}
/* line 24, ../scss/effects/_trim.scss */
.trim:hover:before {
  opacity: 1;
}

/* Outline Outward */
/* line 171, ../scss/hover.scss */
.outline-outward {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 11, ../scss/effects/_outline-outward.scss */
.outline-outward:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: .3s;
  transition-property: top, right, bottom, left;
}
/* line 23, ../scss/effects/_outline-outward.scss */
.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Outline Inward */
/* line 176, ../scss/hover.scss */
.outline-inward {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 11, ../scss/effects/_outline-inward.scss */
.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  transition-duration: .3s;
  transition-property: top, right, bottom, left;
}
/* line 25, ../scss/effects/_outline-inward.scss */
.outline-inward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

/* Round Corners */
/* line 181, ../scss/hover.scss */
.round-corners {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: border-radius;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_round-corners.scss */
.round-corners:hover {
  border-radius: 1em;
}

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
/* line 188, ../scss/hover.scss */
.glow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_glow.scss */
.glow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Box Shadow Outset */
/* line 193, ../scss/hover.scss */
.box-shadow-outset {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_box-shadow-outset.scss */
.box-shadow-outset:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Box Shadow Inset */
/* line 198, ../scss/hover.scss */
.box-shadow-inset {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  transform: translateZ(0);
}
/* line 12, ../scss/effects/_box-shadow-inset.scss */
.box-shadow-inset:hover {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Float Shadow */
/* line 203, ../scss/hover.scss */
.float-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_float-shadow.scss */
.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
/* line 25, ../scss/effects/_float-shadow.scss */
.float-shadow:hover {
  transform: translateY(-5px);
  /* move the element up by 5px */
}
/* line 28, ../scss/effects/_float-shadow.scss */
.float-shadow:hover:before {
  opacity: 1;
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Hover Shadow */
@keyframes hover {
  /* line 3, ../scss/effects/_hover-shadow.scss */
  50% {
    transform: translateY(-3px);
  }

  /* line 7, ../scss/effects/_hover-shadow.scss */
  100% {
    transform: translateY(-6px);
  }
}

@keyframes hover-shadow {
  /* line 13, ../scss/effects/_hover-shadow.scss */
  0% {
    transform: translateY(6px);
    opacity: .4;
  }

  /* line 18, ../scss/effects/_hover-shadow.scss */
  50% {
    transform: translateY(3px);
    opacity: 1;
  }

  /* line 24, ../scss/effects/_hover-shadow.scss */
  100% {
    transform: translateY(6px);
    opacity: .4;
  }
}

/* line 208, ../scss/hover.scss */
.hover-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 38, ../scss/effects/_hover-shadow.scss */
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
/* line 53, ../scss/effects/_hover-shadow.scss */
.hover-shadow:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 62, ../scss/effects/_hover-shadow.scss */
.hover-shadow:hover:before {
  opacity: .4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Shadow Radial */
/* line 213, ../scss/hover.scss */
.shadow-radial {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 9, ../scss/effects/_shadow-radial.scss */
.shadow-radial:before, .shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}
/* line 23, ../scss/effects/_shadow-radial.scss */
.shadow-radial:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
/* line 28, ../scss/effects/_shadow-radial.scss */
.shadow-radial:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
/* line 34, ../scss/effects/_shadow-radial.scss */
.shadow-radial:hover:before, .shadow-radial:hover:after {
  opacity: 1;
}

/* SPEECH BUBBLES */
/* Bubble Top */
/* line 220, ../scss/hover.scss */
.bubble-top {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_bubble-top.scss */
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: top;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
/* line 23, ../scss/effects/_bubble-top.scss */
.bubble-top:hover:before {
  top: -10px;
}

/* Bubble Right */
/* line 225, ../scss/hover.scss */
.bubble-right {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_bubble-right.scss */
.bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: right;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
}
/* line 22, ../scss/effects/_bubble-right.scss */
.bubble-right:hover:before {
  right: -10px;
}

/* Bubble Bottom */
/* line 230, ../scss/hover.scss */
.bubble-bottom {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_bubble-bottom.scss */
.bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: bottom;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
/* line 22, ../scss/effects/_bubble-bottom.scss */
.bubble-bottom:hover:before {
  bottom: -10px;
}

/* Bubble Left */
/* line 235, ../scss/hover.scss */
.bubble-left {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_bubble-left.scss */
.bubble-left:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: left;
  top: calc(50% - 10px);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
}
/* line 22, ../scss/effects/_bubble-left.scss */
.bubble-left:hover:before {
  left: -10px;
}

/* Bubble Float Top */
/* line 240, ../scss/hover.scss */
.bubble-float-top {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_bubble-float-top.scss */
.bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
  transition-duration: 0.3s;
  transition-property: top;
}
/* line 24, ../scss/effects/_bubble-float-top.scss */
.bubble-float-top:hover {
  transform: translateY(5px) translateZ(0);
}
/* line 28, ../scss/effects/_bubble-float-top.scss */
.bubble-float-top:hover:before {
  top: -10px;
}

/* Bubble Float Right */
/* line 245, ../scss/hover.scss */
.bubble-float-right {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_bubble-float-right.scss */
.bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  transition-duration: 0.3s;
  transition-property: right;
}
/* line 23, ../scss/effects/_bubble-float-right.scss */
.bubble-float-right:hover {
  transform: translateX(-5px);
}
/* line 27, ../scss/effects/_bubble-float-right.scss */
.bubble-float-right:hover:before {
  right: -10px;
}

/* Bubble Float Bottom */
/* line 250, ../scss/hover.scss */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_bubble-float-bottom.scss */
.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  transition-duration: 0.3s;
  transition-property: bottom;
}
/* line 23, ../scss/effects/_bubble-float-bottom.scss */
.bubble-float-bottom:hover {
  transform: translateY(-5px) translateZ(0);
}
/* line 27, ../scss/effects/_bubble-float-bottom.scss */
.bubble-float-bottom:hover:before {
  bottom: -10px;
}

/* Bubble Float Left */
/* line 255, ../scss/hover.scss */
.bubble-float-left {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 10, ../scss/effects/_bubble-float-left.scss */
.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  transition-duration: 0.3s;
  transition-property: left;
}
/* line 23, ../scss/effects/_bubble-float-left.scss */
.bubble-float-left:hover {
  transform: translateX(5px);
}
/* line 27, ../scss/effects/_bubble-float-left.scss */
.bubble-float-left:hover:before {
  left: -10px;
}

/* CURLS */
/* Curl Top Left */
/* line 262, ../scss/hover.scss */
.curl-top-left {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_curl-top-left.scss */
.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
  transition-property: width, height;
}
/* line 32, ../scss/effects/_curl-top-left.scss */
.curl-top-left:hover:before {
  width: 25px;
  height: 25px;
}

/* Curl Top Right */
/* line 267, ../scss/hover.scss */
.curl-top-right {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_curl-top-right.scss */
.curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
  transition-property: width, height;
}
/* line 29, ../scss/effects/_curl-top-right.scss */
.curl-top-right:hover:before {
  width: 25px;
  height: 25px;
}

/* Curl Bottom Right */
/* line 272, ../scss/hover.scss */
.curl-bottom-right {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_curl-bottom-right.scss */
.curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(315deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
  transition-property: width, height;
}
/* line 29, ../scss/effects/_curl-bottom-right.scss */
.curl-bottom-right:hover:before {
  width: 25px;
  height: 25px;
}

/* Curl Bottom Left */
/* line 277, ../scss/hover.scss */
.curl-bottom-left {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 8, ../scss/effects/_curl-bottom-left.scss */
.curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(45deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
  transition-property: width, height;
}
/* line 29, ../scss/effects/_curl-bottom-left.scss */
.curl-bottom-left:hover:before {
  width: 25px;
  height: 25px;
}
